html body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.top{
    background-color: rgba(154, 184, 94, 0.911);
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.title h1 a{
    text-decoration: none;
    font-size: 50px;
    font-weight: 100;
    line-height: 0.7;
    color: white;
}
.title h1 a:hover{
    color:rgba(85, 122, 10, 0.911);;
}
.join{
    text-align: right;
    position: relative;
    top: 38px;
}
.date{
    font-size: 20px;
    color: rgba(85, 122, 10, 0.911);
}
.links ul{
    word-spacing: 15px;
}
.links li{
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
}
.links a{
    text-decoration: none;
    color: white;  
}
.links a:hover{
    color: rgba(85, 122, 10, 0.911);
}
.fl{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.mid{
    text-align: center;
    padding: 20px;
    background: rgb(68,186,194);
    background: linear-gradient(90deg, rgba(68,186,194,0.7567401960784313) 0%, rgba(104,212,233,0.6082808123249299) 54%, rgba(230,240,242,0.3309698879551821) 100%);
}
.mid h2{
    font-size: 35px;
    font-weight: lighter;
    color:rgba(85, 122, 10, 0.911) ;
}
.mid p{
    font-size: 20px;
    color: grey;
    line-height: 1.7;
}
.end{
    background-color:rgba(154, 184, 94, 0.911) ;
    padding: 30px;
}
.fle{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.ft p{
    color:rgba(85, 122, 10, 0.911) ;
}
.ftlist ul{
    word-spacing: 15px;
}
.ftlist li{
    display: inline-block;
    font-size: 14px;
}
.ftlist a{
    text-decoration: none;
    color: white;  
}
.ftlist a:hover{
    color: rgba(85, 122, 10, 0.911);
}

